{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    {{#author}}
        <header class="author-header fade-in">
            {{#if profile_image}}
                <img class="author-profile-image" src="{{img_url profile_image size="m"}}" alt="{{name}}">
            {{else}}
                <span class="author-profile-image author-profile-placeholder" aria-hidden="true">{{> icons/avatar}}</span>
            {{/if}}

            <div class="author-info">
                <h1 class="author-name">{{name}}</h1>

                {{#if bio}}
                    <p class="author-bio">{{bio}}</p>
                {{/if}}

                <div class="author-meta">
                    {{#if location}}
                        <span class="author-location">{{location}}</span>
                    {{/if}}
                    {{#if website}}
                        <a class="author-website" href="{{website}}" target="_blank" rel="noopener">{{website}}</a>
                    {{/if}}

                    {{#if twitter}}
                        <a class="author-social" href="{{social_url type="twitter"}}" target="_blank" rel="noopener">Twitter</a>
                    {{/if}}
                    {{#if facebook}}
                        <a class="author-social" href="{{social_url type="facebook"}}" target="_blank" rel="noopener">Facebook</a>
                    {{/if}}
                    {{#if instagram}}
                        <a class="author-social" href="{{social_url type="instagram"}}" target="_blank" rel="noopener">Instagram</a>
                    {{/if}}
                    {{#if linkedin}}
                        <a class="author-social" href="{{social_url type="linkedin"}}" target="_blank" rel="noopener">LinkedIn</a>
                    {{/if}}
                    {{#if bluesky}}
                        <a class="author-social" href="{{social_url type="bluesky"}}" target="_blank" rel="noopener">Bluesky</a>
                    {{/if}}
                    {{#if mastodon}}
                        <a class="author-social" href="{{social_url type="mastodon"}}" target="_blank" rel="noopener">Mastodon</a>
                    {{/if}}
                    {{#if threads}}
                        <a class="author-social" href="{{social_url type="threads"}}" target="_blank" rel="noopener">Threads</a>
                    {{/if}}
                    {{#if tiktok}}
                        <a class="author-social" href="{{social_url type="tiktok"}}" target="_blank" rel="noopener">TikTok</a>
                    {{/if}}
                    {{#if youtube}}
                        <a class="author-social" href="{{social_url type="youtube"}}" target="_blank" rel="noopener">YouTube</a>
                    {{/if}}
                </div>
            </div>
        </header>
    {{/author}}

    <section class="author-posts">
        {{#foreach posts}}
            {{> "loop-horizontal-no-badge"}}
        {{/foreach}}
    </section>

    <button class="gh-loadmore gh-btn">Load more issues</button>
</main>