{{!< default}}

<main id="gh-main" class="gh-main gh-canvas">
    <div class="archive-layout">
        <aside class="archive-sidebar fade-in">
            {{#tag}}
                {{#if feature_image}}
                    <img class="sidebar-media" src="{{img_url feature_image size="m"}}" alt="{{name}}">
                {{/if}}

                <h1 class="sidebar-title">{{name}}</h1>

                {{#if description}}
                    <p class="sidebar-description">{{description}}</p>
                {{else}}
                    <p class="sidebar-description">A collection of {{plural ../pagination.total empty="0 issues" singular="% issue" plural="% issues"}}</p>
                {{/if}}
            {{/tag}}
        </aside>

        <div class="archive-main">
            <section class="post-list">
                {{#foreach posts}}
                    {{> "loop-horizontal-no-badge"}}
                {{/foreach}}
            </section>

            <button class="gh-loadmore gh-btn">Load more issues</button>
        </div>
    </div>
</main>
